body {
  //background: red !important;
}


.sherlock-list {
  padding: 0;
  list-style: none;

  .error {
    border: 1px solid rebeccapurple;
  }

  .clue-text {
    margin: 10px 0;
    white-space: pre-wrap;
  }

  form {
    display: flex;
    align-items: center;
  }

  h5 {
    margin: 0;
  }

  .clue-id {
    background: rebeccapurple;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
  }

  .input-btn {
    display: flex;
    align-items: center;
    margin-left: auto;

    > button {
      padding: 5px !important;
    }
  }

  input {
	min-width: 100px;
    height: 35px;
    padding: 5px 10px !important;
    line-height: 1 !important;
  }
}


.sl-error {
  position: fixed;
  bottom: 7px;
  left: 7px;
  right: 7px;
  background: #e98b8b;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 100000;
  border-radius: 4px;
  border: 1px solid #ac2525;
  padding: 5px 10px 5px 20px;
  button {
    margin-left: auto;
  }
}

.sl-reset {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}
